@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif !important;
}

.main-section {
    margin-top: 25px;
}

.main-section .logo {
    margin-bottom: 0px;
}

.New-password .input-group-addon {
    top: 12px !important;
}

.do-have {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.6);
}

.do-have a {
    color: #000000;
    cursor: pointer;
}

button {
    font-weight: bold;
}

.do-have a:hover {
    color: #1606fa;
}

.form-group {
    direction: rtl;
}

.iti {
    position: relative;
    display: inline-block;
    width: 100%;
}


form .form-group {
    /* margin: 16px 0px;*/
    margin: 0px;
}

#show_hide_password {
    position: relative;
}

.input-group-addon {
    position: absolute;
    left: 20px;
    top: 42px;
}

label {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    display: block;
    text-align: right;
}

.main-section .form-group {
    margin-bottom: 5px !important;
}

.main-section .section h1 {
    direction: rtl !important;
    text-align: right !important;
    margin-bottom: 15px !important;
    font-weight: bold;
}

@media only screen and (min-width: 1100px) {
    .selected-flag {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .selected-flag {
        margin-top: 35px;
    }

    .main-section .section h1 {
        text-align: center !important;
    }
}

.form-check .form-check-input {
    text-align: right !important;
    direction: rtl;
    float: right;
    background-color: #F3EB39 !important;
    border: #F3EB39 !important;
}

.form-check .form-check-label {
    text-align: right !important;
    direction: rtl;
    float: right;
    margin-right: 20px;
}


.fa-eye-slash {
    color: #F3EB39 !important;
}

#tel input {
    width: 100%;
}

button {
    width: 100%;
    background-color: #F3EB39 !important;
    color: black;
    padding: 8px 0px;
    border: none;
}

button:hover {
    background-color: #f5ea16 !important;
}

@media only screen and (max-width: 600px) {

    .main-section .col-sm-6 .section img {
        width: 54%;
        margin: 15px auto;
        display: block;
    }

}